#camera{
    border: 3px dashed rgb(25, 5, 204);
    width: 350px;
    height: 350px;
}

body{
    background: linear-gradient(#00eeff 0%,#9dff00 100%);
}

hr{
    border-top: 1px solid rgb(132, 0, 255);
}
#result{
    border: 3px dashed rgb(25, 5, 204);
    width: 350px;
    height: 350px;
}